{% extends 'stream/layout.html' %}
{% load static %}

{% block body %}

    <div class="modal fade" id="lyrics_modal" tabindex="-1" aria-labelledby="lyrics_title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="lyrics_title" class="modal-title">Lyrics</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status" id="lyrics_spinner">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div id="lyrics">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% csrf_token %}

    <div class="container" style="width: 100%">

        <div class="container-fluid card">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Song Requests</h1>
                </div>
            </div>
            <div class="container my-2 content-align-center">
                <h3>Filters</h3>
                <button class="btn btn-outline-primary" id="refresh_btn"><i class="bi bi-arrow-clockwise"></i> Refresh</button>
                <button class="btn btn-outline-primary filter_btn" data-p="all" data-v="all">All</button>
                <button class="btn btn-outline-warning filter_btn" data-p="status" data-v="pending"><i
                        class="bi bi-clock-fill"></i> Pending
                </button>
                <button class="btn btn-outline-success filter_btn" data-p="status" data-v="approved"><i
                        class="bi bi-check-lg"></i> Approved
                </button>
                <button class="btn btn-outline-danger filter_btn" data-p="status" data-v="rejected"><i
                        class="bi bi-x-lg"></i> Rejected
                </button>
                <div class="form-group fs-5 align-self-center mx-2" style="display: inline-block;">
                    <input type="checkbox" id="played" name="played" value="true">
                    <label for="played"> Include played songs</label>
                </div>
                <div class="form-group fs-5 align-self-center mx-2" style="display: inline-block;">
                    <input type="checkbox" id="spotify" name="spotify" value="true">
                    <label for="played"> Show "Open on Spotify" button</label>
                </div>
            </div>

            <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status" id="list_spinner">
                <span class="visually-hidden">Loading...</span>
            </div>
            <ul id="request_list" class="grid-list">

            </ul>

        </div>

    </div>
    <input id="user_type" type="hidden" name="user_type" value="{{ user_type }}">

    <script src="{% static 'stream/requests.js' %}"></script>

{% endblock %}