body {
    padding: 3px;
}

.btn {
    margin: 3px;
}

input.form-control {
    border-radius: 20px;
}

.search-button {
    z-index: 10;
    position: absolute;
    margin-right: 0;
    margin-bottom: 0;
    border-radius: 0 20px 20px 0;
    height: 100%;
}

.no-m-p {
    margin: 0;
    padding: 0;
}

.player-row {
    max-height: 75px;
}

.status-icon {
    opacity: 0.75;
    border-radius: 20px;
    width: 20px;
    height: 10px;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #fff;
}

video {
    height: 60px;
}

li.list-group-item {
    border: 1px solid #dee2e6;
    border-radius: 20px;
    padding-bottom: 5px;
    top: 10px;
    margin-bottom: 5px;
}

.filter_btn {
    margin: 3px;
}

.disabled-div {
    pointer-events: none;
    opacity: 0.4;
}

.btn-mobile {
    font-size: 2rem;
    font-weight: bold;
    padding: 3px;
}

.play-button {
    font-size: 3rem;
    padding: 3px;
    color: #fff;
    background-color: transparent;
    border: none;
    opacity: 0;
    width: 100px;
    height: 100px;
    z-index: 10;
    position: relative;
}
.play-button:hover {
    color: #fff;
    background-color: grey;
    opacity: 0.4;
    border: none;
    display: block;
    z-index: 10;
    position: relative;
}



@media screen and (max-width: 540px) {
    ul {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }

    .title {
        max-width: 130px;
        line-break: auto;
        word-wrap: break-word;
    }

    .song-img {
        max-width: 100px;
        max-height: 100px;
        margin-top: 5px;
        border-radius: 5px;
    }

    li.list-group-item {
        width: 100%;
        padding: 0;
    }

    .metadata-row {
        margin-left: 1px !important;
        margin-top: 5px !important;
        width: 100% !important;
    }

}

/* For Tablets */
@media screen and (min-width: 540px) {
    ul.requests-list {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        column-gap: 10px;
        flex-wrap: wrap; /* Allow items to wrap into columns */
    }

    .filters {
        padding-left: 30px;
    }

    .grid-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }


    .song-img {
        max-width: 150px;
        max-height: 150px;
        border-radius: 5px;
    }

    li.list-group-item {
        padding: 10px;
        break-inside: avoid;
    }
}